:root {
  --beige: #fbfbfd;
  --gray: #f4f4f4;
  --orange: #fa8a3d;
  --blue: #06c;
}
body {
  background-color: white;
}
.main {
  display: grid;
}
.box1 {
  background-color: var(--gray);
  font-family: -apple-system-tall-body, BlinkMacSystemFont, sans-serif;
  width: 48%;
  display: flex;
  flex-direction: column;
  border: 10px solid white;
}
.box2 {
  background-color: var(--beige);
  font-family: -apple-system-tall-body, BlinkMacSystemFont, sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 10px solid white;
}
.box3 {
  background-color: var(--beige);
  font-family: -apple-system-tall-body, BlinkMacSystemFont, sans-serif;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
}
.box4 {
  background-color: var(--beige);
  font-family: -apple-system-tall-body, BlinkMacSystemFont, sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
}
#img1 {
  width: 100%;
  height: 270px;
  padding-top: 13%;
  object-fit: fill;
}
#img2 {
  width: 100%;
  height: 260px;
  margin-top: 9%;
  margin-bottom: 5%;
  object-fit: fill;
}
.img2 {
  display: none;
}
#img3 {
  width: 100%;
  height: 350px;
  margin-top: 9%;
  object-fit: fill;
  padding-bottom: 3%;
}
#img4 {
  width: 100%;
  height: 270px;
  margin-top: 9%;
  object-fit: fill;
}
.row1 {
  display: flex;
  flex-direction: row;
}
p {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 21px;
  font-weight: 350;
  text-align: center;
}
.row2 {
  display: flex;
  flex-direction: row;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.links {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--blue);
}
.a {
  padding-right: 5%;
}
#apple {
  width: 20%;
}
h4 {
  color: var(--orange);
  margin-top: 0;
}
h1 {
  font-size: 35px;
  font-weight: 500;
}
h1,
h4 {
  margin-bottom: 0;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.box-links {
  color: black;
}
.a:hover {
  text-decoration: underline;
}
#logo {
  font-size: 32px;
  font-weight: 500;
  padding-left: 2%;
}
#text2 {
  padding-bottom: 2%;
}
/* Media Queries */

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #img4 {
    object-fit: contain;
  }
  #img2 {
    width: 90%;
    height: auto;
    padding-left: 5%;
    padding-top: 7%;
  }
}
@media screen and (max-device-width: 600px) {
  body {
    margin: 0;
  }

  #logo {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    font-weight: 500;
    justify-content: center;
    align-items: baseline;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
  }
  .row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box1 {
    width: 100%;
  }
  .box2 {
    width: 100%;
  }
  .box3 {
    width: 100%;
  }
  .box4 {
    width: 100%;
  }
  #img4 {
    object-fit: cover;
  }
  #img2 {
    object-fit: contain;
  }
  #img3 {
    height: 350px;
  }
  #img1 {
    object-fit: cover;
  }
  h1 {
    font-size: 1.9em;
    font-weight: 500;
  }
  p {
    font-size: 1.1em;
    font-weight: 400;
  }
  a {
    font-size: 1em;
  }
  #img2 {
    display: none;
  }
  .img2 {
    display: flex;
    width: 70%;
    margin-left: 16%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
}
